%ul.side
	%li= link_to "New Movie",new_movie_path
	%li= link_to "Look for","http://www.verycd.com/topics/91680/",:target=>"_blank"
#clock
	<embed src="swf/blogparts.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="140" height="290" wmode="transparent">