body{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-image: url(/images/all-bg.jpg);
}
*:link, *:visited, *:hover, *:active, *:focus {
-webkit-transition:
	color .25s linear,
	background-color .25s linear,
	border-color .25s linear;

transition:
	color .25s linear,
	background-color .25s linear,
	border-color .25s linear;
}

a{
	text-decoration: none;
	color: #e3b4e5;
}
a:hover{
	color: #ff9131;
}
h1{
	color: #b6eaf8;
	text-shadow: #424242 3px 3px 6px;
}
h1:hover{
	color: #adfa9a;
}
h3{
	color: #c2d6fb;
}
ul{
	list-style: none;
}
.round {
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px;
	
	}
.shadow{
	-moz-box-shadow:0 0 10px #040307;
	-webkit-box-shadow:0 0 10px #040307;
}
.clear{
	clear: both;
}
.field{
	float: right;
}
.form{
	width: 350px;
	background-color: #b5f9fd;
	padding: 10px;
}
.nav li{
	display: inline-block;
	font-size: 20px;
	margin-right: 10px;
	margin-left: 10px;
}


.side li{
	display: block;
	line-height: 30px;
	 -webkit-transition-duration:1s;
}
.side li:hover{
background-color: #cdfa8e;
	right: 20px;
	position: relative;
}
#container{
	width: 1000px;
	margin: 0 auto;
	
}
#head{
	width: 980px;
	height: 100px;
	padding: 10px;
	
	border-style: outset;
	border-color: #f9fba7;
	background-color: rgba(255,254,255,0.56);
}
#left{
	width: 750px;
	float: left;
}
#right{
	width: 220px;
	height: 98px;
	float: right;
	}
#navigation{
	width: 750px;	
	background-color: rgba(201,252,223,0.74);
}
#main{
	width: 780px;
	float: left;
	background-color: #5e5e5e;
	padding: 10px;
}
#sidebar{
	width: 180px;
	height: auto;
	float: right;
	background-color: #7983f6;
	padding: 8px;
}
#count{
	width: 170px;
}
#friend-link{
	width: 180px;
	background-color: #5e5e5e;
}
#my-link{
	width: 180px;
	background-color: #7d8fa1;
}
#sister-info{
	width: 760px;
	height: 430px;
	background-color: #d1fa8b;
	padding: 10px;
	font-family: Optima, "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #5e5e5e;
}
#left-info{
	width: 270px;
	float: left;
}
#coin-slider{
	width: 480px;
	float: right;
	border: 6px ridge #ff7c7b;
}
/*songs*/
.category{
	width: 776px;
	height: 184px;
	background-color: #aefdf4;
	border-style: solid;
	border-color: #c4fbc3;
}
.category-image{
	width: 200px;
	height: 180px;
	float: left;
	border-style: ridge;
	border-color: #6ed6fb;
}
.category-info{
	width: 500px;
	height: 80px;
	float: right;
	padding: 20px;
	color: #82b5f9;
	font-size: 20px;
}
.toggle{
	width: 776px;
	border-style: solid;
	border-color: #cfd3fb;
	display: none;
	background-color: #fce7fb;
}

.song li{
	display: block;
	line-height: 25px;
	font-weight: bold;
	color: #646464;
	border-bottom-style: solid;
	border-bottom-color: #addffc;
	padding: 5px 8px;
}
.song li a{
	padding: 5px;
}
.song li a:hover{
	background-color: #adfcd4;
	
}
.listen{
	float: right;
	background-color: #fbfbbd;
}
.love{
	color: #8d97f7;
}
#song-end{
	width: 780px;
	height: 28px;
	color: #7983f6;
	background-color: #c4e7c6;
	font-size: 24px;
	text-align: center;
}
/*images*/
.image{
	width: 180px;
	height: 150px;
	border-style: ridge;
	border-color: #e6fbae;
	float: left;
	margin: 4px;
}
.link{
	border: 0px;
	}
.manage-img{
	width: 240px;
	height: 150px;
	border-style: ridge;
	border-color: #8b98f7;
	float: left;
	background-color: #b7fdf8;
}
/*movies*/
.movie{
	width: 776px;
	height: 180px;
	background-color: #aefdf4;
	border-style: solid;
	border-color: #c4fbc3;
}
.movie-image{
	width: 200px;
	height: 180px;
	float: left;
}
.movie-info{
	width: 550px;
	float: right;
}
#board{
	width: 170px;
	background-color: #a0faaf;
	padding: 5px;
	color: #ff7b49;
}
.paginate{
	width: 780px;
	background-color: #4e596a;
	padding: 3px;
	text-align: center;
}
#clock{
	width: 140px;
	height: 290px;
	margin: 20px;
}
#foot{
	width: 760px;
	padding: 10px;
	background-color: #6ed6fb;
}
#applet{
	width: 760px;
	height: 230px;
	padding: 10px;
	background-color: #ddfbb4;
}
#visiter{
	float: left;
	width: 220px;
	height: 220px;
}
#ads{
	float: right;
	width: 500px;
	height: 220px;
	
	color: #e9a1f8;
}
.c1{
	background-color: #c9e8fc;
}
.c2{
	background-color: #ffedcc;
}
.c3{
	background-color: rgba(224,207,251,0.74);
}
.c4{
	background-color: rgba(211,252,198,0.71);
}