%ul.side
	%li= link_to_unless_current "New Category",category_path
	%li= link_to_unless_current "New Songs",new_song_path
#clock
	<embed src="/swf/blogparts.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="140" height="290" wmode="transparent">