.form.round
	- form_for @category,:url => update_path do |f|
		%p
		=f.label :title
		=f.text_field :title,:class => 'field'
		%p
		=f.label :iamge
		=f.text_field :image,:class => 'field'
		%p
		=f.label :date
		=f.date_select :date,:start_year => 1990,:order => [:year,:month]
		%p
		=f.submit