%ul.side
	%li= link_to "Manage Images",images_path
	%li= link_to "ZARD Official","http://www.wezard.net/single.html",:target=>"_blank"
#clock
	<embed src="swf/blogparts.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="140" height="290" wmode="transparent">